body {
    background-color: rgba(248, 248, 248, 1);
    overflow-x: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-heading {
    color: #030303;
    text-align: center;
    font-family: "Poppins";
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.02px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 2px;
}

.sub-heading {
    color: #636364;
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    text-align: left;
    padding-left: 2px;
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 19.62294rem;
    margin: auto;
}

.form-control {
    border-radius: 0.75rem !important;
    width: 19.62294rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(196, 196, 196, 0.00);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.form-label {
    color: #181818;
    text-align: left;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.02625rem;
    font-family: "Poppins";
}

.signin-button {
    width: 19.62294rem;
    height: 2.58194rem;
    border-radius: 12px;
    background: #EA454C;
    box-shadow: 0px 4px 10px 0px rgba(233, 68, 75, 0.25);
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02625rem;

}

.signingoogle-button {
    width: 19.62294rem;
    height: 2.58194rem;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(234, 69, 76, 0.00);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.02625rem;
}

.google-icon {
    width: 1.80738rem;
    height: 1.80738rem;
    flex-shrink: 0;
}

.form-control::placeholder {
    color: #636364;
    font-family: "Poppins";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.02625rem;
}

.form-check-label {
    color: #181818;
    text-align: center;
    font-family: "Poppins";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0225rem;
}

.option-box {
    width: 100%;
    display: inline-flex;
    position: relative;
}

.forgot-password-link {
    color: #181818;
    font-family: "Poppins";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0225rem;
    position: absolute;
    right: 0px;
    margin-top: 5px;
}

.signup-text {
    margin-top: 15px;
    color: #595959;
    text-align: center;
    font-family: "Poppins";
    font-size: 0.725rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.01875rem;
}

.signup-link {
    color: #EA454C;
    font-family: "Poppins";
    font-size: 0.725rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.01875rem;
}

/* Page not found styling */
.page-not-found {
    width: 100%;
    height: 100%;
    font-family: "Poppins";
    text-align: center;

}

/* Table Page */

.table-heading {
    background: rgba(244, 247, 252, 0.75);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 4.5rem;
}

.filter-btn {
    display: inline-flex;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    background: var(--White, #FFF);
    box-shadow: 0px 2px 5px 0px rgba(89, 96, 120, 0.10), 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
    float: left;
}

.delete-btn {
    display: inline-flex;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    background: var(--White, #FFF);
    box-shadow: 0px 2px 5px 0px rgba(89, 96, 120, 0.10), 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
    float: right;
}

.input-form {
    display: flex;
    width: 20rem;
    padding: 0.375rem 0.75rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    background: var(--White, #FFF);
    box-shadow: 0px 0px 0px 1px rgba(104, 113, 130, 0.16), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    float: left;
}

.search-input-field {
    flex: 1 0 0;
    color: var(--Gray-300, #A1A9B8);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    border: #000;
}

.search-input-field::placeholder {
    font-family: "Inter";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    /* 142.857% */
    letter-spacing: 0.0175rem;
}

.btn {
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    /* 142.857% */
    letter-spacing: 0.0175rem;
    float: right;

}

.selected-checks {
    color: var(--Gray-700, #464F60);
    font-family: "Inter";
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    /* 150% */
    letter-spacing: 0.0225rem;
    float: right;
}

.table-header {
    background: rgba(244, 247, 252, 0.75);
}

@media screen and (max-width: 768px) {
    .col-md-6 {
        margin: 2px;
    }
}